.ant-switch-checked {
    background-color: green !important;
}

/* .ant-switch-inner-checked{
    background-color: aquamarine !important;
} */
/* .Savebtn {
    width: 5vw !important;
}

.Cancelbtn {
    width: 5vw !important;
} */