.childrendiv {
    padding: 1.8rem 2.1rem !important;
    max-height: calc(100vh - 64px) !important;
    height: calc(100vh - 64px) !important;
    overflow-y: auto !important;
    background-color: #F3F8FF !important;
}