
.ant-spin-container{
    text-align: center !important;
    align-items: center !important;
}
.ant-pagination{
    text-align: center;
    align-items: center;
}
.usertable{
    text-align: center !important;
    align-items: center !important;
}
.ant-alert{
    border: none !important;
    background-color: white;
}