/* .ant-layout-header {
    padding-left: 2rem;
    padding-right: 0rem;
} */
.settingButton {
  margin-right: 25px;
}

.settingButton:hover {
  cursor: pointer;
}

.UserName {
  margin-right: 30px !important;
}
